<!DOCTYPE html>

<html>

    <head>
        <title>IMDB TOP 50 MOVIES</title>
    </head>
	
    <body>
	<h3 style="color:red "> INTRODUCTION</h3>
   <p style="background-color:lightgrey; color:blue" >	You can chose one of three options. All are sorted based on Rating of Movie</br> </p>
	
<style>
ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: MediumTurquoise;
    color: Green ;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: orange;
}
</style>
	
	
<ul id="menu">
		<li ><a href="/rating">RATING</a><li>
		<li><a href="/cast">CAST</a></li>
		<li><a href="/storyline">STORYLINE</a></li>
</ul>
    </body>

</html>
